<style type="text/css">
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1f6377;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1f6377;
}
@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        text-shadow: 0 -1px 0 #1f6377;
    }
    .dropdown:not(.open):hover>.dropdown-menu {
        display: none;
    }
}

</style>
<nav class="navbar navbar-inverse nav-teal navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{:addon_url('message/index')}" style="color: red;text-shadow: 0 -1px 0 #1f6377;">关闭</a>
        
        </div>
        
    </div>
</nav>




