<link href="/assets/addons/suisunwechat/css/suisun.css?v={$Think.config.site.version}" rel="stylesheet">
<style>
    .mtitle {
        color: black;
        font-weight: 900;
        margin-bottom: 5px;
    }

    .overview {
        background-color: white;
        border-radius: 2px;
        margin-bottom: 10px;
        border: solid 1px #e5e5e5;
    }

    .overview .mtitle span {
        font-weight: 400;
        color: #969799;
    }

    .overview .overview-item {
        border-right: solid 1px #e5e5e5;
    }

    .overview .overview-item:last-child {
        border-right: none;
    }

    .overview .overview-item .overview-title {
        color: #969799;
        font-size: 14px;
    }

    .overview .overview-item .overview-value {
        color: black;
        font-size: 28px;
        font-weight: 900;
        margin: 5px 0 13px;
        cursor: pointer;
    }


    .overview-search{}
    .overview-search .overview-switch{
        overflow: hidden;
        border-radius: 2px;
        border: solid 1px #e5e5e5;
    }
    .overview-search .overview-switch .overview-switch-item{
        border-right: solid 1px #e5e5e5;
        cursor: pointer;
    }
    .overview-search .overview-switch .overview-switch-item-active{
        border-right: solid 1px #18bc9c;
        background-color: #18bc9c !important;
        color: white;
        cursor: pointer;
    }
    .overview-search .overview-switch .overview-switch-item:last-child{
        border-right: none;
    }
    .overview-search .datetimepicker{
        border: solid 1px #e5e5e5;
        height: 30px;
        padding-left: 5px;
    }
    .overview-chart div{
        min-height: 380px;
    }
</style>


<div class="usersummary bg-white padding">
    <div class="mtitle text-lg padding-sm margin-left">用户分析</div>
    <div class="padding">
        <div class="row padding-sm">
            <div class="col-xs-12 col-sm-12"><i class="fa fa-exclamation-circle text-green"></i>
                本页根据昨日数据来计算，而用户管理页根据当前数据计算，两者不一致。点击<a target="_self" href="{:url('suisunwechat/wechat_usersummary/init_summary')}">这里</a>可同步数据
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <div class="overview padding-tb-xl   padding-lr">
                    <div class="title text-black text-sm">昨日关键指标</div>
                    <div class="row flex margin-top-sm">
                        <div class=" overview-item col-xs-12 col-sm-6 col-md-4 col-lg-4 flex justify-center align-center flex-direction">
                            <div class="overview-title">新关注人数</div>
                            <div class="overview-value">{$date.new_user}</div>
                        </div>
                        <div class="overview-item col-xs-12 col-sm-6 col-md-4 col-lg-4 flex justify-center align-center flex-direction">
                            <div class="overview-title">取消关注人数</div>
                            <div class="overview-value">{$date.cancel_user}</div>
                        </div>
                        <div class="overview-item col-xs-12 col-sm-6 col-md-4 col-lg-4 flex justify-center align-center flex-direction">
                            <div class="overview-title">净增人数</div>
                            <div class="overview-value">{$date.new_user - $date.cancel_user}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row padding-sm">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <div class="overview padding-tb-xl   padding-lr">
                    <div class="title text-black text-sm">关键指标详解</div>
                    <form class="overview-search margin-top flex form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <div class="overview-switch flex ">
                            <div class="overview-switch-item-active overview-switch-item padding-lr padding-tb-xs" data-type="add">新增人数</div>
                            <div class="overview-switch-item padding-lr padding-tb-xs " data-type="cancel">取消关注人数</div>
                            <div class="overview-switch-item padding-lr padding-tb-xs " data-type="net">净增人数</div>
                            <!--<div class="overview-switch-item padding-lr padding-tb-xs " data-type="all">累积人数</div>-->
                        </div>
                        <div class="flex  margin-left align-center flex margin-right">
                            <span class="margin-right-sm">时间段: </span><input type="text" class="datetimepicker" name="starttime" id="starttime" value="{$yesterday}" data-date-format="YYYY-MM-DD"> <span class="padding-lr">-</span>  <input type="text" class="datetimepicker" id="endtime"  value="{$yesterday}" data-date-format="YYYY-MM-DD">
                        </div>
                        <div class="btn btn-success" id="search">查询</div>
                    </form>
                    <div class="overview-chart">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-intro">
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="one">
                        <div class="widget-body no-padding">
                            <div id="toolbar" class="toolbar">
                                <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i
                                        class="fa fa-refresh"></i> </a>
                            </div>
                            <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                                   data-operate-edit="{:$auth->check('suisunwechat/wechat_usersummary/edit')}"
                                   data-operate-del="{:$auth->check('suisunwechat/wechat_usersummary/del')}"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="panel panel-default panel-intro">-->
<!--<div class="panel-body">-->
<!--<div id="myTabContent" class="tab-content">-->
<!--<div class="tab-pane fade active in" id="one">-->
<!--<div class="widget-body no-padding">-->
<!--<div id="toolbar" class="toolbar">-->
<!--<a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>-->
<!--<a href="javascript:;" class="btn btn-success btn-add {:$auth->check('suisunwechat/wechat_usersummary/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>-->
<!--</div>-->
<!--<table id="table" class="table table-striped table-bordered table-hover table-nowrap"-->
<!--data-operate-edit="{:$auth->check('suisunwechat/wechat_usersummary/edit')}" -->
<!--data-operate-del="{:$auth->check('suisunwechat/wechat_usersummary/del')}" -->
<!--width="100%">-->
<!--</table>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
