<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input id="c-duration" data-rule="required" class="form-control" name="row[duration]" type="hidden" value="{$row.duration|htmlentities}" readonly="readonly">
    <input id="c-id"  class="form-control" name="row[id]" type="hidden" value="{$row.id|htmlentities}" readonly="readonly">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}" data-rule="required;">
        </div>
    </div>
    <div class="form-group">
        <label for="c-training_category_id" class="control-label col-xs-12 col-sm-2">{:__('Category')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-training_category_id" data-rule="required" class="form-control selectpicker" name="row[training_category_id]">
                {foreach name="parentList" item="vo"}
                <option data-type="{$vo.type}" value="{$key}" {in name="key" value="$row.training_category_id"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="training_course_ids" class="control-label col-xs-12 col-sm-2">{:__('Training_course_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-primary btn-course"><i class="fa fa-list"></i> {:__('Choose')}</button>
            <input type="hidden" class="form-control" id="training_course_ids" name="row[training_course_ids]" value="{$row.training_course_ids|htmlentities}" readonly="readonly" data-rule=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <div id="choosecourse"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coverimgage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-coverimage" class="form-control" size="50" name="row[coverimage]" type="text" value="{$row.coverimage|htmlentities}" readonly="readonly" data-rule="required;">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-coverimage" class="btn btn-danger faupload" data-input-id="c-coverimage" data-multiple="false"  data-mimetype="image/*" data-preview-id="p-coverimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-coverimage" class="btn btn-primary fachoose" data-input-id="c-coverimage" data-multiple="false" data-mimetype="image/*"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-coverimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-coverimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Keywords')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keywords" class="form-control" name="row[keywords]" type="text" value="{$row.keywords|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[type]', ['online'=>__('Online'), 'offline'=>__('Offline')], $row.type)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-description" class="form-control" rows="5" name="row[description]" cols="50">{$row.description|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Starttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-starttime" class="form-control datetimepicker" data-rule="required;" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[starttime]" type="text" value="{:$row.starttime?datetime($row.starttime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" class="form-control datetimepicker" data-rule="required;" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:$row.endtime?datetime($row.endtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_ids')}:</label>
        <div class="col-xs-12 col-sm-6" >
        <button type="button" class="btn btn-success btn-selectuser ">{:__('指定学员')}</button>
        </div>
        <div class="col-xs-12 col-sm-6" hidden="hidden">
            <input id="c-user_ids"  data-rule="" data-source="user/user/index" data-multiple="true" data-field="nickname" class="form-control selectpage" name="row[user_ids]" type="text" value="{$row.user_ids|htmlentities}">
        
        </div>
        
    </div>
    <div class=" form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_group_ids')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-user_group_ids" data-rule="" data-source="user/group/index" data-multiple="true" class="form-control selectpage" name="row[user_group_ids]" type="text" value="{$row.user_group_ids|htmlentities}">
        </div>
        
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    
   <div class="form-group" hidden="hidden">
        
        <input type="text" class="form-control" id='qrcodeurl' />
   </div>
   
   <div class="form-group user-select {if $row.type=='online'}hide{/if}">
      <label class="control-label col-xs-12 col-sm-2">培训用签到码:</label>
   	<div class="col-xs-12 col-sm-8">
    		<img src="" alt="" id='qrcodeimg' />
    		<img src="" alt="" id='qrcodeimg-1' />
    	</div>
   </div>
    
    
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
{include file="training/main/tpl"/}
<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
            $(function () {
                $("form").submit(function () {
                	 var t = 'http://safe.haxxj.com/addons/training/index/signin.html?id='+$("#c-id").val();
                	 var q = 'http://safe.haxxj.com/addons/training/index/signout.html?id='+$("#c-id").val();
                    $("#qrcodeimg").prop("src", "{:addon_url('qrcode/index/build',[],false)}?" + 'label='+$("#c-name").val()+'签到&logo=1&logopath=.'+$("#c-coverimage").val()+'&text='+t);
                    $("#qrcodeimg-1").prop("src", "{:addon_url('qrcode/index/build',[],false)}?" + 'label='+$("#c-name").val()+'签退&logo=1&logopath=.'+$("#c-coverimage").val()+'&text='+q);
                    
                    return false;
                });
                $("form").trigger('submit');
            });
</script>
