

<style>
    .room{
        width: 500px;
        margin: 0 auto;
    }
    .room-title{
        font-weight: 900;
    }


</style>

<div class="room" id="console" >
    <div class="row bg-white margin-lr-xs margin-bottom-sm padding-bottom-xl">
        <div class="flex align-center justify-between padding-sm radius">
            <div class="text-md room-title text-black"> 微信菜单 </div>
        </div>
        <div class="flex flex-direction align-center">
            <!--商城提示-->
            <div> 你尚未创建微信菜单,点击下方可创建 </div>
            <div class="btn btn-success margin-top btn-create"> 创建菜单 </div>
        </div>
    </div>

</div>


