<link href="/assets/addons/suisunwechat/css/suisun.css?v={$Think.config.site.version}" rel="stylesheet">
<style>

    .mtitle {
        color: black;
        font-weight: 900;
        margin-bottom: 5px;
    }
    .form-group .tip{
        margin-top: 5px;
        color: gray;
    }
    .form-group .jumptip{
        margin-top: 5px;
        display: block;
    }

    .menu-preview {
        width: 317px;
        height: 580px;
        position: relative;
    }
    .menu-preview .sort-op{
        position: absolute;
        bottom: -30px;
        width: 100%;
    }
    .menu-preview-group{
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: #fafafa;
        padding-left: 35px;
    }
    .menu-preview-group .menu-preview-item{
        cursor: pointer;
        position: relative;
        width: 33.33%;
    }
    .menu-preview-group .menu-preview-item .menu-preview-sub .menu-preview-sub-item:hover,
    .menu-preview-group .menu-preview-item:hover{
        background-color: #e5e5e5;
    }
    .menu-preview-group .menu-preview-item:first-child{
        /*border-left: none;*/
    }

    .menu-preview-group .menu-preview-item .menu-preview-sub{
        position: absolute;
        bottom: 55px;
        width: 120px;
        background-color: #fafafa;
    }
    .menu-preview-group .menu-preview-item .menu-preview-sub .menu-preview-sub-item{
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        color: #666666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .menu-preview-group .menu-preview-item .menu-preview-sub .menu-preview-sub-item:last-child{
        border-top:none;
    }

    .menu-preview-group .menu-preview-sub-item-active,
    .menu-preview-group .menu-preview-item-active{
        border: solid 1px #128f76;!important;
        color: #128f76;
    }


    .menu-edit{
        position: relative;
    }
    .menu-edit .menu-delete{
        position: absolute;
        right: 20px;
        top: 25px;
    }
    .menu-edit .menu-btn{
        position: absolute;
        bottom: 20px;
        width: 100%;
    }



    .suisun-form input[type=radio]{
        display: none;
    }
    .suisun-form input[type=radio]+label{
        cursor: pointer;
        position: relative;
        font-weight:400;
        font-size: 14px;
    }
    .suisun-form input[type=radio]+label::before{
        display: inline-block;
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        margin-right: 6px;
        vertical-align: middle;
        line-height: 16px;
    }
    .suisun-form input[type=radio]:checked+label::after{
        display: inline-block;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        bottom: 3px;
        background-color: #18bc9c;
    }




    .suisun-form input[type=radio]{
        display: none;
    }

    .suisun-form input[type=radio]+label{
        cursor: pointer;
        position: relative;
        font-weight:400;
        font-size: 14px;
        margin-bottom: 8px;
        margin-right: 5px;
    }

    .suisun-form input[type=radio]+label::before{
        display: inline-block;
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        margin-right: 3px;
        vertical-align: middle;
        line-height: 16px;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
    }
    .suisun-form input[type=radio]:checked+label::after{
        display: inline-block;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        bottom: 3px;
        background-color: #18bc9c;
    }
    .suisun-form input[type=radio]:checked+label{
        color: #18bc9c;;
    }

    .suisun-form .menu-ext{
        margin-top: 15px;
    }
    .suisun-form .menu-ext-title div{
        margin-top: 12px;
    }

    .menu-ext-click .tab-reply-item{
        width: 120px;
        height: 120px;
        cursor: pointer;
    }
    .menu-ext-click .tab-reply-item:hover{
        background-color: #e5e5e5;
    }

    .menu-ext-click .tab-reply-item i{
        font-size: 35px;
        margin-bottom: 5px;
    }



</style>


<div class="menu padding" id="menu" v-cloak>
    <div class="flex">
        <div class="">
            <div class="menu-preview bg-white">
                <div class="menu-preview-group flex solid-top" id="menu-preview-group">
                    <div class="menu-preview-item  flex-sub solid-left flex justify-center align-center filter-sort" v-if="button.length<3">
                        <div class="text-cut padding-sm  text-center"  @click="addmenu">+ 添加菜单</div>
                    </div>
                    <div  class="menu-preview-item  flex-sub solid-left flex justify-center align-center " :class="[current_index==index&&current_sub_index==-1?'menu-preview-item-active':'']" v-for="(item,index) in button" :key="index"
                    @click="tabmenu(index)">
                        <div class="text-cut padding-sm  text-center">{{item.name}}</div>
                        <div class="menu-preview-sub solid " v-if="current_index==index" id="menu-preview-sub">
                            <div class="menu-preview-sub-item  solid-top padding-lr-sm" :class="[current_sub_index==subindex?'menu-preview-sub-item-active':'']" v-for="(sub,subindex) in item.sub_button" @click.stop="tabsubmenu(subindex)">{{sub.name}}</div>
                            <div class="menu-preview-sub-item  solid-top padding-lr-sm text-center filter-sort" @click="addsubmenu(index)">+ 添加菜单</div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center align-center margin-top sort-op">
                    <div class="text-red text-sm">拖动菜单可进行排序</div>
                </div>
            </div>

        </div>
        <div class="solid-right bg-white radius flex-sub margin-left padding menu-edit">
            <div class="mtitle text-lg padding-sm">微信菜单</div>

            <template v-if="current_data">
                <div class="menu-delete">
                    <div class="btn btn-danger btn-sm" @click="deletemenu"> 删除菜单 </div>
                </div>
                <div class="row padding-bottom margin-top">
                    <form id="add-form" class="form-horizontal suisun-form" role="form" data-toggle="validator" method="POST" action="">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('菜单名称')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-title" data-rule="required" class="form-control"  type="text"  v-model="current_data.name">
                                <p class="tip">字数不超过4个汉字或8个字母</p>
                            </div>
                        </div>
                        <template v-if="current_sub_index>-1 || current_data.sub_button.length==0">
                            <div class="form-group" >
                                <label class="control-label col-xs-12 col-sm-2">{:__('菜单内容')}:</label>
                                <div class="col-xs-12 col-sm-8 margin-top-xs">
                                <span>
                                    <input id="click" name="type"  type="radio" v-model="current_data.type" value="click"/>
                                    <label for="click">发送消息</label>
                                </span>
                                    <span>
                                    <input id="view" name="type" type="radio" v-model="current_data.type" value="view"/>
                                    <label for="view">跳转网页</label>
                                </span>
                                    <span>
                                    <input id="scancode_push" name="type" type="radio" v-model="current_data.type" value="scancode_push"/>
                                    <label for="scancode_push"> 扫码</label>
                                </span>
                                    <span>
                                    <input id="scancode_waitmsg" name="type"  type="radio"   v-model="current_data.type" value="scancode_waitmsg"/>
                                    <label for="scancode_waitmsg"> 扫码(等待消息)</label>
                                </span>
                                    <span>
                                    <input id="location_select" name="type" type="radio"   v-model="current_data.type" value="location_select"/>
                                    <label for="location_select"> 地理位置</label>
                                </span>
                                    <span>
                                    <input id="pic_sysphoto" name="type" type="radio"   v-model="current_data.type" value="pic_sysphoto"/>
                                    <label for="pic_sysphoto"> 拍照发图</label>
                                </span>
                                    <span>
                                    <input id="pic_photo_or_album" name="type" type="radio"   v-model="current_data.type" value="pic_photo_or_album"/>
                                    <label for="pic_photo_or_album"> 拍照相册</label>
                                </span>
                                    <span>
                                    <input id="pic_weixin" name="type" type="radio"   v-model="current_data.type" value="pic_weixin"/>
                                    <label for="pic_weixin"> 相册发图</label>
                                </span>
                                    <span>
                                    <input id="miniprogram" name="type" type="radio"   v-model="current_data.type" value="miniprogram"/>
                                    <label for="miniprogram"> 关联小程序</label>
                                </span>
                                </div>
                            </div>


                            <div class="line solid-top"></div>

                            <div class="form-group menu-ext-title">
                                <template v-if="current_data.type=='click'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">发送消息</label>
                                    <div class="col-xs-12 col-sm-8">响应响应内容</div>
                                </template>
                                <template v-if="current_data.type=='view'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">跳转网页</label>
                                    <div class="col-xs-12 col-sm-8">订阅者点击该子菜单会跳转到以下链接</div>
                                </template>
                                <template v-if="current_data.type=='scancode_push'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">扫码</label>
                                    <div class="col-xs-12 col-sm-8">菜单内容为扫码，那么点击这个菜单是，手机扫描二维码</div>
                                </template>
                                <template v-if="current_data.type=='scancode_waitmsg'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">扫码（等待信息）</label>
                                    <div class="col-xs-12 col-sm-8">菜单内容为扫码，那么点击这个菜单是，手机扫描二维码</div>
                                </template>
                                <template v-if="current_data.type=='location_select'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">地理位置</label>
                                    <div class="col-xs-12 col-sm-8">菜单内容为地理位置，那么点击这个菜单时，系统发送当前地理位置</div>
                                </template>
                                <template v-if="current_data.type=='pic_sysphoto'||current_data.type=='pic_photo_or_album'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">拍照发图</label>
                                    <div class="col-xs-12 col-sm-8">菜单内容为系统拍照发图/拍照或者相册发图，那么点击这个菜单是，系统拍照</div>
                                </template>
                                <template v-if="current_data.type=='pic_weixin'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">相册发图</label>
                                    <div class="col-xs-12 col-sm-8">菜单内容为微信相册发图，那么点击这个菜单是，选择图片发送</div>
                                </template>
                                <template v-if="current_data.type=='miniprogram'">
                                    <label class="control-label col-xs-12 col-sm-2 margin-top-xs">关联小程序</label>
                                    <div class="col-xs-12 col-sm-8">点击该菜单跳转到关联的小程序</div>
                                </template>
                            </div>

                            <div class="menu-ext">
                                <div class="menu-ext-click " v-if="current_data.type!='view' && current_data.type!='miniprogram'">
                                    <div class="tab-reply flex justify-center">
                                        <div class="tab-reply-item flex flex-direction justify-center align-center solid"  @click="selectkeyword">
                                            <i class="fa fa-bolt"></i>
                                            <span>触发关键词</span>
                                        </div>
                                    </div>
                                    <div class="text-center margin-top-sm">响应内容:{{current_data.key}}</div>
                                </div>


                                <div class="menu-ext-view " v-if="current_data.type=='view'">
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2">{:__('页面地址')}:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-view" data-rule="required" class="form-control"  type="text" v-model="current_data.url">
                                            <p class="tip">指定点击此菜单时要跳转的链接（注：链接需加http://）</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="menu-ext-miniprogram" v-if="current_data.type=='miniprogram'">
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2">{:__('APPID')}:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-appid" data-rule="required" class="form-control"  type="text" placeholder="请确保小程序与公众号已关联"
                                                   v-model="current_data.appid">
                                            <!--<a href="" class="jumptip">如何获取</a>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2">{:__('页面')}:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-page" data-rule="required" class="form-control"  type="text" placeholder="请填写小程序的页面路径"
                                                   v-model="current_data.pagepath">
                                            <!--<a href="" class="jumptip">如何获取</a>-->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2">{:__('备用网页')}:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input id="c-b" data-rule="required" class="form-control"  type="text" placeholder="" v-model="current_data.url">
                                            <p class="tip">旧版微信客户端无法支持小程序，用户点击菜单时将会打开备用网页。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <div class="menu-btn flex justify-center">
                            <div class="btn btn-success btn-sm margin-right-sm" @click="save('send')"> 保存菜单并发布 </div>
                            <div class="btn btn-default btn-sm" @click="save('save')"> 保存菜单 </div>
                        </div>
                    </form>
                </div>
            </template>
            <div v-else class="margin-left-sm"> 请点击左边进行编辑 </div>
        </div>
    </div>
</div>

