<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-sync" title="{:__('Sync')}" ><i class="fa fa-refresh"></i> {:__('Sync')}</a>
                        <a href="javascript:;" class="btn btn-success btn-exchange" title="{:__('Exchange')}" ><i class="fa fa-plus"></i> {:__('Exchange')}</a>
                        {if $tagid != ''}<a href="javascript:;" class="btn btn-danger btn-remove" title="{:__('Remove Tag')}" ><i class="fa fa-trash"></i> {:__('Remove Tag')}</a>{/if}
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('suisunwechat/wechat_fans/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>

                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('suisunwechat/wechat_fans/edit')}" 
                           data-operate-del="{:$auth->check('suisunwechat/wechat_fans/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
