{layout name="common/empty" /}
<style data-render="style">
    .attachment-block {
        border: none; 
        padding: 5px;
        margin-bottom: 10px;
        background: #ffffff; 
    }
    dt,dd {
        font-size: 16px;
        padding-top: 10px;
    }
    .list-group-item {
        padding:0px 15px;
        margin-top: 10px;
    }
    .box-header > .box-tools {
        top: 0px;
    }

    /*外层容器*/
    .my-special-label{
        position: absolute;
        right: 0;
        z-index: 9999;
    }
    /*内层容器*/
    .my-special-label > div {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        top: -20px;
        right: 15px;
    }
    /*小横标*/
    .my-special-label > div > div {
        font: bold 15px Sans-Serif;
        text-align: center;
        line-height: 27px;
        text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
        transform: rotate(45deg);
        position: relative;
        padding: 0px;
        left: -40px;
        top: 24px;
        width: 200px;
        height: 30px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
    /*折叠角*/
    .my-special-label > div > div:before {
        left: 0;
    }
    .my-special-label > div > div:after {
        right: 0;
    }
    .my-special-label > div > div:before, .my-special-label > div > div:after {
        content: "";
        border-top: 1px solid #c5053f;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        position: absolute;
        bottom: -1px;
    }
    .overtime_tab {
        font: bold 10px Sans-Serif;
        position: relative;
        right: 0px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 35px;
        top: 0px;
        transform: rotate(45deg);
        border-radius: 50%;
    }
    .border-success{
        border:2px solid #e74c3c !important;
        background-color: transparent !important;
        color: #e74c3c !important;
    }
    .border-warning{
        border:2px solid #f39c12 !important;
        background-color: transparent !important;
        color: #f39c12 !important;
    }
    .border-info{
        border:2px solid #3498db !important;
        background-color: transparent !important;
        color: #3498db !important;
    }
</style>
<div class="container-fluid" id="content-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                {if condition="$main.progress == 100"}
                    {assign name="main_status" value='success' /}
                {else /}
                    {assign name="main_status" value='info' /}
                {/if}
                <div class="my-special-label">
                    <div>
                        <div class="btn-{$main_status}">{$main_status == "success"?'已完成':'未完成'}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <a href="javascript:void(0)" class="btn-open-course" data-id="{$main.id}">
                        <img src="{$main.coverimage}" alt="{$main.name}" style="max-width:330px;max-height:185px;width:100%;height:100%">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h3 style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis">
                        <b> {$main.name}</b>
                    </h3>
                    <div class="row" style="margin-top:10px">
                        <div class="col-xs-8">
                            <div class="progress" style="position: relative;">
                                <div class="progress-text" style="position:absolute;top:0;left:0;text-align: center;width:100%;color:#000">{$main.progress}%</div>
                                <div class="progress-bar progress-bar-{$main_status} progress-bar-striped" style="width: {$main.progress}%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>关键字：{$main.keywords}</p>
                            <p>课程简介：{$main.description}</p>
                            <p>学习有效期至：{$main.endtime|date="Y-m-d h:i:s",###}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span>{:__('Course list')}</span>
            	 <small class="label pull-right bg-red"><a href="{:url('/training')}" >{:__('back')}</a></small>
                
            </h3>
        </div>
        <div class="panel-body" style="padding: 0px">
            <ul class="list-group">
                {volist name="list" id="item"}
                {if condition="isset($item.record) && $item.record"}
                    {if condition="$item.record.complete == 1"}
                        {assign name="course_status" value='success' /}
                    {else /}
                        {assign name="course_status" value='info' /}
                    {/if}
                {else /}
                    {assign name="course_status" value='danger' /}
                {/if}
                <li class="list-group-item list-group-item-{$course_status}">
                    <a href="#" class="listen-link" data-course_id="{$item.id}" data-main_id="{$main.id}" data-title ="{$main.name}">
                        {if condition="$item.record.complete == 1"}
                        <div style="position:absolute;right:0;top:0;">
                            <div class="overtime_tab border-success">{:__('Completed')}</div>
                        </div> 
                        {/if}       
                        <div class="box-header" style="top:2px">
                            <h4 class="box-title" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#555555;font-size: 15px;">
                                <i class="fa fa-play"></i> {$i} . {$item.name}
                            </h4>
                            {if condition="$item.record.progress > 0"}
                                <div class="box-tools pull-right hidden-xs" style="width:30%;margin-right:50px">
                                    <div class="progress" style="margin-top: 10px;position: relative;">
                                        <div class="progress-text" style="position:absolute;top:0;left:0;text-align: center;width:100%;color:#000">{$item.record.progress}%</div>
                                        <div class="progress-bar progress-bar-{$course_status} progress-bar-striped" style="width: {$item.record.progress}%"></div>
                                    </div>
                                </div>
                            {else /}
                                <div style="position:absolute;right:-15px;top:-2px;">
                                    <div class="overtime_tab border-info">{:__('Unlearned')}</div>
                                </div> 
                            {/if}   
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <script id="itemtpl" type="text/html">
       
    </script>
    <script data-render="script">
        require.callback = function() {
            define('training/index', ['jquery', 'bootstrap', 'frontend', 'moment', 'moment/locale/zh-cn'], function($, undefined, Frontend, Moment) {
                var table=null;
                var Controller = {
                    main: function() {
                        Controller.api.bindEvents();
                    },
                    api: {
                        bindEvents() {
                            $(".listen-link").on("click",function(event) {
                                var course_id = $(this).data('course_id');
                                var main_id = $(this).data('main_id');
                                var title = $(this).data('title');
                                parent.Layer.open({
                                    type: 2,
                                    title: title,
                                    shadeClose: false,
                                    shade: 0.8,
                                    area: ['100%', '100%'],
                                    cancel: function(index, layero){ 
                                        Layer.confirm('确定要关闭窗口吗?',{
                                            shade: 0.8,
                                            shadeClose: false
                                        }, function(index2){
                                            Layer.close(index)
                                            Layer.close(index2)
                                        });   
                                        return false; 
                                    },
                                    end:function(){
                                        window.location.reload();
                                    },
                                    content: Fast.api.fixurl('/training/course/' + main_id + '/' + course_id)
                                });
                            })
                        }
                    }
                };
                return Controller;
            });
        }
    </script>