{layout name="common/signinlayout"/}
    <div class="row">    
        <div class="col-md-12 connectedSortable">
            <div class="box box-widget widget-user-2">      
                    <div class="widget-user-header bg-light-blue-gradient">               
                        <h2 class="widget-user-desc" style="margin-left: 0px;margin-top:0px; color:red;text-align:center;">扫码错误！</h2>
                           
                    </div>
                   <div class="widget-user-header bg-light-green-gradient">
         				   
        				</div>	         
            </div>        
        </div>
</div>
   