<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>隐患排查工作平台</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                    更多
                
                </a>
                <div class="aui-center">
                    <span class="aui-center-title"></span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-search"></i>
                    <i class="icon icon-more"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-more-list-box">
                    
                    <div class="aui-more-list">
                        <h3><font size="3">上报记录 </h3>
                    </div>
                    <div class="aui-grids-box">
                       <a href="{:addon_url('trouble/index/vcheck')}" class="aui-grids-item" style={:$type=='1'?'':'"display: none;"'}>
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-018.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">上报记录
                            </div>
                        </a>
                        <a href="{:addon_url('trouble/index/safecheck')}" class="aui-grids-item" style={:$type=='2'?'':'"display: none;"'}>
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-019.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">安全检查
                            </div>
                        </a>
                        <a href="{:addon_url('trouble/index/scheck')}" class="aui-grids-item" style={:$type=='2'?'':'"display: none;"'}>
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-027.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">检查记录
                            </div>
                        </a>
                        
                        
                    </div>
                    <div class="aui-more-list">
                        <h2><font size="3">隐患处理</h2>
                    </div>
                    <div class="aui-grids-box">
                        <a href="{:addon_url('trouble/index/view')}" class="aui-grids-item">
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-020.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">查看隐患
                            </div>
                        </a>
                        <a href="{:addon_url('trouble/index/dispatch')}" class="aui-grids-item">
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-021.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">任务分派
                            </div>
                        </a><a
                        <a href="{:addon_url('trouble/index/solve')}" class="aui-grids-item">
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-022.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">任务处理
                            </div>
                        </a>
                       <a href="{:addon_url('trouble/index/roam')}" class="aui-grids-item">
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-023.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">任务流转
                            </div>
                        </a>
                        <a href="{:addon_url('trouble/index/review')}" class="aui-grids-item">
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-024.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">隐患复核
                            </div>
                        </a>
                        <a href="{:addon_url('trouble/index/feedback')}" class="aui-grids-item">
                            <div class="aui-grids-item-hd">
                                <img src="/images/icon-item-025.png" alt="">
                            </div>
                            <div class="aui-grids-item-bd"><font size="2">隐患反馈
                            </div>
                        </a>
                        
                        
                    </div>
                    
                    
                </div>
            </section>
        </section>
    </body>
</html>
