{layout name="common/empty" /}
<style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background: #fff;
        font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        font-size: 16px;
    }
    
    .system-message {
        padding: 24px 48px;
    }
    
    .system-message h1 {
        font-size: 80em;
        font-weight: normal;
        line-height: 120px;
        margin-bottom: 12px;
    }
    
    .system-message .success,
    .system-message .error {
        text-align: center;
        line-height: 1.8em;
        font-size: 1.5em;
    }
    
    .system-message .detail {
        font-size: 12px;
        line-height: 20px;
        margin-top: 12px;
    }
</style>
<div class="system-message">
    <p class="error">
        <i class="fa fa-warning text-red"></i>
        <?php echo(strip_tags($params['msg']));?>
    </p>
    <p class="detail" style="margin-top:20px">
        <input type="button" class="btn btn-lg btn-block btn-warning" value="{:__('Back')}">
    </p>
</div>
<script data-render="script">
    require.callback = function() {
        define('training/index', ['jquery', 'bootstrap', 'frontend'], function($, undefined, Frontend) {
            var Controller = {
                alert: function() {
                    $(".btn-warning").on("click", function(e) {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        if (index) {
                            var url = "{:isset($params['url'])?:''}";
                            if(url !== ''){
                                window.location.href = url
                            }else{
                                parent.Layer.closeAll();
                            }
                           
                        } else {
                            history.go(-1);
                        }
                    })
                }
            };
            return Controller;
        });
    }
</script>