<style>
    .panel-post {
        position: relative;
    }

    .btn-post {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .img-border {
        border-radius: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
</style>
<div class="container mt-20">  
	<div class="col-md-9">
		<div class="panel panel-default panel-user">
			<div class="panel-body">
				<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
					{layout name="common/layout31" /}
    				<div class="page-header panel-post">
         			
         			<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('任务派单')}</label>
        				
        				<button type="button" class="btn btn-info btn-selectprocesser ">{:__('隐患处理人')}</button>
        				<button type="button" class="btn btn-info btn-selectchecker ">{:__('隐患核查人')}</button>
        				<button type="submit" class="btn btn-success btn-embossed">{:__('确定派单')}</button>
            
        				
    				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Processer')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<input id="c-processer" data-source="{:addon_url('trouble/index/selectoperator')}" data-multiple="true" data-field="nickname" data-primary-key='id' class="form-control selectpage" readonly="readonly" name="row[processer]" type="text" value="{$row.processer|htmlentities}">
            	
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Checker')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<input id="c-checker" data-source="{:addon_url('trouble/index/selectoperator')}" data-multiple="true" data-field="nickname" class="form-control selectpage" readonly="readonly" name="row[checker]" type="text" value="{$row.checker|htmlentities}">
            	
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Main_status')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<input  class="form-control" readonly="readonly"  type="text" value="{$row.main_text|htmlentities}">
        				</div>
        				<div class="col-xs-12 col-sm-8">
            			<input id="c-id" class="form-control" readonly="readonly" name="row[id]" type="number" value="{$row.id|htmlentities}">
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Main_code')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<input id="c-main_code" class="form-control" readonly="readonly" name="row[main_code]" type="text" value="{$row.main_code|htmlentities}">
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Point_id')}:</label>
       				<div class="col-xs-12 col-sm-7">
            				<input  readonly="readonly" class="form-control "   type="text" value="{$row.point_name|htmlentities}">  
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Point_address')}:</label>
       				<div class="col-xs-12 col-sm-7">
            				<input  readonly="readonly" class="form-control "  type="text" value="{$row.point_address|htmlentities}">  
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Trouble_expression')}:</label>
        				<div class="col-xs-12 col-sm-7">
            				<input id="c-trouble_expression" readonly="readonly" class="form-control" name="row[trouble_expression]" type="text" value="{$row.trouble_expression|htmlentities}">
        				</div>
        				
 
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        				<div class="col-xs-12 col-sm-8">
            				<textarea id="c-description" class="form-control " readonly="readonly" rows="5" name="row[description]" cols="50">{$row.description|htmlentities}</textarea>
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Trouble_type_id')}:</label>  
        				<div class="col-xs-12 col-sm-8">
            				<input id="c-trouble_type_id" readonly="readonly" class="form-control" name="row[trouble_type_id]" type="text" value="{$row.trouble_type|htmlentities}">
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Trouble_pic')}:</label>
        				<div class="col-xs-12 col-sm-8">
            				<div class="input-group">
                				<input id="c-trouble_pic" class="form-control" style="{:$row.trouble_pic==''?"":"display: none;"}" size="50" name="row[trouble_pic]" type="text" readonly="readonly"  data-rule="" placeholder="暂无照片" value="{:$row.trouble_pic==''? "" : $row.trouble_pic}">
                				<div class="input-group-addon no-border no-padding">
                    				<span><button type="button" style="display: none;" id="faupload-trouble_pic" class="btn btn-danger faupload" data-input-id="c-trouble_pic" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-trouble_pic"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    				<span><button type="button" style="display: none;" id="fachoose-trouble_pic" class="btn btn-primary fachoose" data-input-id="c-trouble_pic" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                				</div>
                				<span class="msg-box n-right" for="c-trouble_pic"></span>
            				</div>
            				<ul class="row list-inline faupload-preview" id="p-trouble_pic" data-template="customtpl"></ul>
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Process_pic')}:</label>
        				<div class="col-xs-12 col-sm-8">
            				<div class="input-group">
                				<input id="c-process_pic" class="form-control" style="{:$row.process_pic==''?"":"display: none;"}" size="50" name="row[process_pic]" type="text" readonly="readonly"  data-rule="" placeholder="暂无照片" value="{:$row.process_pic==''? "" : $row.process_pic}">
                				<div class="input-group-addon no-border no-padding">
                    				<span><button type="button" style="display: none;" id="faupload-process_pic" class="btn btn-danger faupload" data-input-id="c-process_pic" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-process_pic"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    				<span><button type="button" style="display: none;" id="fachoose-process_pic" class="btn btn-primary fachoose" data-input-id="c-process_pic" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                				</div>
                				<span class="msg-box n-right" for="c-process_pic"></span>
            				</div>
            				<ul class="row list-inline faupload-preview" id="p-process_pic" data-template="customtpl"></ul>
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Finish_pic')}:</label>
        				<div class="col-xs-12 col-sm-8">
            				<div class="input-group">
                				<input id="c-finish_pic" class="form-control" style="{:$row.finish_pic==''?"":"display: none;"}" size="50" name="row[finish_pic]" type="text" readonly="readonly"  data-rule="" placeholder="暂无照片" value="{:$row.finish_pic==''? "" : $row.finish_pic}">
                				<div class="input-group-addon no-border no-padding">
                    				<span><button type="button" style="display: none;" id="faupload-finish_pic" class="btn btn-danger faupload" data-input-id="c-finish_pic" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-finish_pic"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    				<span><button type="button" style="display: none;" id="fachoose-finish_pic" class="btn btn-primary fachoose" data-input-id="c-finish_pic" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                				</div>
                				<span class="msg-box n-right" for="c-finish_pic"></span>
            				</div>
            				<ul class="row list-inline faupload-preview" id="p-finish_pic" data-template="customtpl"></ul>
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Informer')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<input id="c-informer" class="form-control" readonly="readonly" name="row[informer]" type="text" value="{$row.informer|htmlentities}">
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Recevier')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<input id="c-recevier" class="form-control" readonly="readonly" name="row[recevier]" type="text" value="{$row.recevier|htmlentities}">
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<textarea id="c-remark" class="form-control " readonly="readonly" rows="5" name="row[remark]" cols="50">{$row.remark|htmlentities}</textarea>
        				</div>
    				</div>
    				<div class="form-group">
        				<label class="control-label col-xs-12 col-sm-2">{:__('Log')}:</label>
        				<div class="col-xs-12 col-sm-8">
            			<textarea id="c-remark" class="form-control " readonly="readonly" rows="8" name="row[remark]" cols="50">{$row.log|htmlentities}</textarea>
        				</div>
    				</div>
    				<div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="customtpl">

<li class="col-xs-3">
    <a href="<%=fullurl%>" data-url="<%=url%>" target="_blank" class="thumbnail"><img src="<%=fullurl%>" class="img-responsive"></a>
</li>
</script>
<script data-render="script">
        require.callback = function() {
            define('training/index', ['jquery', 'bootstrap', 'frontend','backend', 'table', 'fullcalendar-lang', 'fullcalendar', 'moment', 'moment/locale/zh-cn', 'panelslider','form','layer'], function($, undefined, Frontend, Backend,Table, CalendarLocale, Calendar, Moment, undefined, panelslider,Form,Layer) {
                
                var Controller = {
                    dispatchtrouble: function() {
                    		//选择处理隐患的人员
								$(document).on("click",".btn-selectprocesser",function () {		
				    			//弹窗显示本部门员工信息
         	  				Layer.full(Fast.api.open('{:addon_url('trouble/index/selectoperator')}','选择隐患处理人',{
		           				callback: function (data) {	
		           					//alert(data);
		           					$("#c-processer").val(data);
		           					$("#c-processer").selectPageRefresh();
	       	   				},function (data) {
	       	    				}
	            			}));
	         			});
	         			//选择处理隐患的人员
								$(document).on("click",".btn-selectchecker",function () {		
				    			//弹窗显示本部门员工信息
         	  				Layer.full(Fast.api.open('{:addon_url('trouble/index/selectoperator')}','选择隐患处理人',{
		           				callback: function (data) {	
		           					
		           					$("#c-checker").val(data);
		           					$("#c-checker").selectPageRefresh();
		           					Fast.api.close();
	       	   				},function (data) {
	       	    				}
	            			}));
	         			});	 
                        Controller.api.bindEvent();
                    },             
                    api: {
                        bindEvent() {
                            Form.api.bindevent($("form[role=form]"),function(data,ret){
                             alert(ret.msg);
                             window.location.href=Fast.api.fixurl("{:addon_url('trouble/Index/dispatch')}");
                            });
                        }  
                    }
                };
                return Controller;
            });
        }
</script>

