<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="text"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Target user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row[target]-all"><input id="row[target]-all" name="row[target]" type="radio" value="all" checked/>所有用户</label>
                <label for="row[target]-user"><input id="row[target]-user" name="row[target]" type="radio" value="user" />指定用户</label>
                <label for="row[target]-tag"><input id="row[target]-tag" name="row[target]" type="radio" value="tag" />指定标签组</label>
            </div>
        </div>
    </div>
    <div class="form-group target-item target-user" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Openids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-openids"  class="form-control selectpage" data-source="suisunwechat/wechat_fans/index" data-field="nickname" name="row[openids]" type="text" data-multiple="true" data-primary-key="openid">
        </div>
    </div>
    <div class="form-group target-item target-tag" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tags')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tags"  class="form-control selectpage" data-source="suisunwechat/wechat_fans_tag/index" data-field="name" name="row[tags]" type="text" data-multiple="false" >
        </div>
    </div>
    <div class="form-group source-text source-item">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-content" class="form-control" name="row[text]" />
        </div>
    </div>
<!--    <div class="form-group source-textandphoto source-item" style="display: none">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Response textandphoto')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-imagetext"  class="form-control selectpage" data-source="suisunwechat/material/wechat_image_text/index" data-field="title" name="row[textandphoto]" type="text">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group source-image source-item" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Response image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-image"  class="form-control selectpage" data-source="suisunwechat/material/wechat_image/index" data-field="name" name="row[image]" type="text">
        </div>
    </div>
    <div class="form-group source-video source-item" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Response video')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-video"  class="form-control selectpage" data-source="suisunwechat/material/wechat_video/index" data-field="name" name="row[video]" type="text">
        </div>
    </div>
    <div class="form-group source-voice source-item" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Response audio')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-audio"  class="form-control selectpage" data-source="suisunwechat/material/wechat_voice/index" data-field="name" name="row[voice]" type="text">
        </div>
    </div>
    <div class="form-group source-article source-item" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Response article')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-article"  class="form-control selectpage" data-source="suisunwechat/material/wechat_article/index" data-field="name" name="row[article]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Preview User')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-preview"  class="form-control selectpage" data-source="suisunwechat/wechat_fans/index" data-field="nickname" name="row[preview]" type="text" data-primary-key="openid">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="button" class="btn btn-success btn-embossed bt-preivew">{:__('Preview')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
